@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  transition: ease-in-out 0.3s;
}

a:hover {
  opacity: 0.9;
  color: #0080ff;
}

/* Header */
header {
  width: 100%;
  height: 7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(231, 231, 231);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo-image {
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.logo-text {
  color: #0080ff;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

.buttons-container {
  font-size: 30px;
  font-weight: bolder;
}

.buttons-container > a {
  margin: 0px 10px;
  font-weight: 500;
}

/*

.sign-up-button {
  margin-right: 40px;
  padding: 15px 25px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #0080ff;
}

.help-button {
  background-color: #0080ff;
  padding: 15px 35px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
}

.help-button:hover {
  transform: scale(0.9);
  background-color: coral;
} 

*/

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  height: 20vh;
  background-color: rgb(231, 231, 231);
}

.footer .logo {
  display: flex;
  align-items: center;
}

.footer .logo-image {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.footer .logo-text {
  color: #0080ff;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
}

.footer .copyright {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.footer .links {
  display: flex;
  align-items: center;
}

.footer .links ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .links li {
  margin: 0 10px;
}

.footer .links ion-icon {
  font-size: 24px;
  color: #0080ff;
}
